<div class="dashboard-container">
  <!-- Toolbar -->
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="mat-toolbar-row">
      <button mat-icon-button color="whithe" (click)="sidenav.toggle()">
        <mat-icon svgIcon="menuicon"></mat-icon>
      </button>
      <h1 class="app-name">S-Inventory</h1>
    </div>
  </mat-toolbar>
  <!-- Sidenav -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="side" opened>
      <!-- User Info -->
      <img src="../assets/avatar.jpeg" class="avatar mat-elevation-z10">
      <h4 class="name">Jhonathan Ruiz</h4>
      <p class="designation">Desarrollador de Software</p>
      <!-- Login Button -->
      <button mat-button class="button_login">
        <mat-icon>login</mat-icon>
        <span>Ingresar</span>
      </button>
      <mat-divider></mat-divider>
      <!-- Menu -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let parent of menuNav">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ parent.menuparent}}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="{{ child.viewRoute }}" *ngFor="let child of parent.children">
              {{ child.menuName }}
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <!-- Main Content -->
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>