<div class="dashboard-container">
  <!--Empieza tollbar-->
  <mat-toolbar color="primary">
    <div class="mat-toolbar-row">
      <button mat-icon-button color="whithe" disabled>
        <mat-icon svgIcon="menuicon"></mat-icon>
      </button>
      <h1 class="app-name">S-Inventory</h1>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <img   src="../assets/avatar.jpeg" class="avatar mat-elevation-z10">
        <h4 class="name">Jhonathan Ruiz</h4>
        <p class="designation">Desarrollador de Software</p>
        <mat-divider></mat-divider>
        <button mat-button class="button_login">
          <mat-icon>login</mat-icon>
          <span>Ingresar</span>
        </button> 
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content mat-elevation-z8"> 
          main content
        </div>
      </mat-sidenav-content>  
  </mat-sidenav-container>
</div>
